@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>The most legendary of all film collections!</p>
</div>
<div class="text-center">
    <img width="400" src="~/img/JoelHiltonHeadshot.jpg" />
</div>