@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>


<div>
    <p>Listen to my podcasts about all the movies!</p>
    <br />
    <a href="https://baconsale.com/">Link to my Podcast</a>
</div>

